<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home-page-style.css">
  <title>Home Page</title>
</head>
<body>
  <center><img src="images/squads-logo.png" alt="Squads-Matchmaking logo"></center>
  <h1>Welcome to the #1 matchmaking application for squads everywhere!</h1>
  <center>
      <div class="btn-group btn-group-lg">
          <button type="button" class="btn btn-primary">
              <a href="/signin">Log In</a>
          </button>
          <button type="button" class="btn btn-primary"><a href="/signup">Sign Up</a></button>
      </div>
  </center>
</body>
</html>
